<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.title}} </mat-cell>
    </ng-container>

    <!-- DOB Column -->
    <ng-container matColumnDef="DOB">
      <mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.DOB}} </mat-cell>
    </ng-container>

    <!-- Picture Column -->
    <ng-container matColumnDef="picture">
      <mat-header-cell *matHeaderCellDef> Picture </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.picture}} </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.phone}} </mat-cell>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.gender}} </mat-cell>
    </ng-container>

    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.country}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>